*{
    box-sizing: border-box;
}
header, h2, h3{
    color: #fff;
}
h1{
    font-size: 48px;
    line-height: 1;
    margin: 1em 0 0;
    text-shadow: 5px 5px 5px #000000;
}
h2{
    font-size: 40px;
    text-shadow: 5px 5px 5px #000000;
}
h3{
    font-size: 35px;
    text-shadow: 5px 5px 5px #000000;
    margin-top: 0;
    margin-bottom: 60px;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}
section{
    padding-bottom: 48px;
}
article{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li {
    display: inline-block;
    position: relative;
    z-index: 0;
    transition: all 0.4s;
}
ul li .item img{
    display: block;
    width: 250px;
    height: 250px;
}
ul li .item{
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.7);
    margin: 5px 6px 10px;
    padding: 10px 10px 25px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    display: inline-block;
}
ul li .item:after{
    content: attr(title);
    color: #333;
    font-size: 40px;
    text-shadow: 1px 1px 5px #000000;
    position: relative;
    top: 15px;
}
ul li:nth-child(4n+1){
    transform: rotate(4deg);
}
ul li:nth-child(4n+3){
    transform: rotate(-24deg);
}
ul li:nth-child(2n+2){
    transform: rotate(14deg);
}
ul li:nth-child(5){
    transform: rotate(-8deg);
}
ul li:nth-child(6){
    transform: rotate(2deg);
}
ul li:hover{
    box-shadow: 0 0 15px 8px rgb(0,0,0,.8);
    transform: rotate(0deg) scale(1.25);
    z-index: 10;
    transition: all 0.2s;
}
footer{
    background-color: rgba(250, 250, 250, 0.25);
    color: rgba(255, 255, 255, 0.973);
    font-size: 1.1em;
    padding: 1.25em;
}